h1{
    font-size: 18;
    font-family:serif;
    color:grey;
}
p{
   font-size: 15px;
    font-family:sans-serif;
    line-height: : 22px;
    color: #666;     
}
#post-head-image{
      padding-top: 140px; 
    padding-bottom: 140px;
}  
.pageTitle{ 
font-size: 4rem;
    color: white;
    text-shadow: 2px 9px 1px black;
    text-transform: uppercase;
}


