body {
	font-family: 'PT Mono', monospace !important; 
}

h1, h2, h3, h4, button {
	font-family: 'Ubuntu', sans-serif !important;
}

.acHeader {
    margin-top: 3rem;
}

.jumbotron{
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;	
}

.bg-warning a:link, .bg-warning a:visited{
	color: darkgreen;
    text-decoration: underline;
}

h1, .h1 {
	font-size: 1.5rem !important;
}

h2 .h2 {
	font-size: 1.3rem !important;
}

h3 . h3 {
	font-size: 1.2rem !important;

}


.card{
    margin-top: 30px;
    margin-bottom: 10px;
}

.card-body{
    background-color: lightgoldenrodyellow;
}

#aimsList li{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#skillsAccordion1 a.dropdown-toggle {
    white-space: normal !important;
}

.acOlItem {
	display: list-item;
	margin-left: 2rem !important;
}

.FY2B>a{
    visibility: hidden;
}

#maintable>div{
    margin: 10px 10px 10px 10px;
    background-color: #ccc;
}