h1{
    font-size: 18px;
    font-family: serif;
    color: darkgrey
}
p{
    font-size: 15px;
    font-family: sans-serif;
    line-height: 22px;
}
#post-head-image{
    padding-top: 140px;
    padding-bottom: 140px;
}
.pageTitle{
    text-shadow: 2px 9px 1px black;
    font-size: 4rem;
    text-transform: uppercase;
    color: white
}
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #1a4b35;
  color: black;
}